* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

@media (prefers-color-scheme: light) {
  body {
    color: #1a1a1a;
    background-color: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: #ffffff;
    background-color: #1a1a1a;
  }
}
